	<div class="property-container" ng-controller="PropertiesController">
		<div class="section search-box quicksearch">
			<div class="container">
				<div class="row no-margin">
					<div class="col s12 l10 push-l2">
						<div class="col s12 l7 no-padding home-property">
							<div class="input-field col s12 m5 l5">
								<select>
									<option value="" disabled selected>Search Property</option>
									<option value="1">Coffee Estate</option>
									<option value="2">Agriculture Land</option>
									<option value="3">Rubber &amp; Tea Estate</option>
									<option value="3">House &amp; Plots</option>
								</select>
							</div>
							<div class="input-field col s12 m5 l5">
								<select multiple>
									<option value="" disabled selected>Search Location</option>
									<option value="1">Option 1</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
									<option value="3">Option 4</option>
									<option value="3">Option 5</option>
									<option value="3">Option 6</option>
									<option value="3">Option 7</option>
									<option value="3">Option 8</option>
									<option value="3">Option 9</option>
									<option value="3">Option 10</option>
								</select>
							</div>
							<div class="input-field col s12 m2 l2 margin-top-15 no-padding quick-prop-btn">
								<a class="waves-effect waves-light btn bg-green">
									<i class="jif-search-1" style="font-size: 20px;line-height: 36px;"></i>
								</a>
							</div>
						</div>
						<div class="col s12 l5 search-ad-id-block">
							<div class="input-field margin-top-15 quick-ad-id">
								<a class="waves-effect waves-light btn bg-green">
									<i class="jif-search-1" style="font-size: 20px;line-height: 36px;"></i>
								</a>
							</div>
							<div class="input-field col s9 m10 l8 no-padding search-ad-id">
								<!-- <i class="jif-search prefix" style="font-size: 20px;line-height: 55px;"></i> -->
						      <input id="first_name2" type="number" class="validate">
						      <label for="first_name2">Search with Ad ID</label>
						    </div>
						</div>
					</div>
					<div class="no-padding col s12 l2 pull-l10 property-name">
						<label class="t-switch">
							<input type="checkbox">
							<div class="t-switch-slider round"></div>
							<span class="t-coffee"><i class="jif-th-large"></i></span>
							<span class="t-pepper"><i class="jif-th"></i></span>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="container property-cards">
			<div class="row">
				<h5 class="main-property-title">Business - <span>9 Items</span></h5>
				<div class="tile-list-box property-list-views">

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img1.png">
						      		<div class="prop-ad-id">1</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>


					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img2.png">
						      		<div class="prop-ad-id">2</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/emptycard.png">
						      		<div class="prop-ad-id">3</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img3.png">
						      		<div class="prop-ad-id">4</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img4.png">
						      		<div class="prop-ad-id">5</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/emptycard.png">
						      		<div class="prop-ad-id">6</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img3.png">
						      		<div class="prop-ad-id">7</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img2.png">
						      		<div class="prop-ad-id">8</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

					<div class="property-card-container">
						<div class="card">
						    <div class="card-image waves-effect waves-block waves-light">
						    	<a href="detail.html" target="_blank">
						    		<img class="activator" src="assets/images/block_img6.png">
						      		<div class="prop-ad-id">9</div>
						    	</a>
						    </div>
						    <div class="card-content">
						    	<div class="card-content-body">
						    		<div class="property-title font-600">
							    		18.5 acres of coffee estate for sale in chikmaglur 18.5 acres of coffee estate for sale in chikmaglur
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-location">
							    		<span class="font-600">Location : </span>
							    		<span>Mangalore</span>
							    	</div>
							    	<div class="property-divider"></div>
							    	<div class="property-price font-600">
								    	<i class="jif-rupee"></i>
								    	<span>16 lakhs per acre</span>
							    	</div>
						    	</div>
						    	<div class="card-content-footer">
						    		<div class="property-detail-btn">
							    		<a href="#prop-detail-modal" class="waves-effect waves-light btn modal-trigger">View Detail</a>
							    	</div>
						    	</div>
						    </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
<!-- Modal Structure -->
<div id="prop-detail-modal" class="modal view-detail-modal">
    <div class="modal-content view-detail-ext-container">
    	<h5 class="text-center view-detail-modal-title">Business</h5>
    	<i class="jif-cancel-1 modal-close-btn modal-close"></i>
    	<hr>
    	<div class="container">
    		<div class="row">
    			<div class="col s12 l5">
    				<div class="slider view-detail-slider">
					    <ul class="slides">
					    	<li>
					        	<img src="assets/images/banner1.jpg">
					      	</li>
					      	<li>
					        	<img src="assets/images/banner2.jpg">
					      	</li>
					      	<li>
					        	<img src="assets/images/banner3.jpg">
					      	</li>
					      	<li>
					        	<img src="assets/images/banner4.jpg">
					      	</li>
					      	<li>
					        	<video width="400" controls>
									  <source src="assets/images/text-video.mp4" type="video/mp4">
								</video>
					      	</li>
					    </ul>
					</div>
					<hr>
					<div class="col s12 no-padding">
						<div class="view-detail-ad-id">Ad id : 1</div>
					</div>
					<div class="col 12 no-padding view-detail-left">
						<h5>Information</h5>
						<div class="view-detail-location">
							<i class="jif-location text-green"></i>
							<span class="font-600">Location : </span>
							<span>Chikmaglur towards shimoga</span>
						</div>
						<div class="view-detail-location margin-top-10">
							<i class="jif-rupee text-green"></i>
							<span class="font-600">Price : </span>
							<span>1900000 per acre</span>
						</div>
					</div>
					<hr>
					<div class="col s12 no-padding view-detail-left">
						<h5>Contact Us</h5>
						<div class="view-detail-location">
							<div class="left view-detail-ph">
								<i class="jif-call text-green"></i>
								<span>+91 9741085719</span>
							</div>
							<div class="left">
								<i class="jif-mail text-green"></i>
								<span>estates@villbiz.com</span>
							</div>
						</div>
					</div>
					<hr>
					<div class="col s12 no-padding view-detail-left">
						<div class="view-detail-location margin-top-10">
							<!-- <div class="left view-detail-sm margin-right-10">
								<a href="#">
									<i class=" jif-facebook-circled fb-text-color"></i>
									<span>Facebook</span>
								</a>
							</div>
							<div class="left view-detail-sm">
								<a href="#">
									<i class="jif-gplus-circled gp-text-color"></i>
									<span>Google +</span>
								</a>
							</div> -->
							<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fvillbiz.com%2Fnew%2Fdetail.html&layout=button_count&size=small&mobile_iframe=false&width=69&height=20&appId" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
						</div>
					</div>
					<hr class="no-margin">
    			</div>
    			<div class="col s12 l7 view-detail-prop-maindetail">
    				<h5 class="text-dark">18.5 acres of coffee estate for sale in chikmaglur</h5>
    				<div class="green-orange-border-sep"></div>
    				<p>
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
</div>
