<footer class="mainfooter page-footer main-footer no-margin">
  <div class="container">
    <div class="row">
      <div class="col s12 l3 no-padding footer-c1">
        <h5>Villbiz</h5>
        <div>Phone: 9741085719</div>
        <div>Email: estates@villbiz.com</div>
        <div>Copyright &copy; Villbiz 2016, All Rights Reserved.</div>
      </div>
      <div class="col s12 l7 text-center margin-top-15 footer-c2">
        <ul class="footer-links">
          <li><a href="javascript:redirectLocation('app/views/home/main.html', 'main')">Home</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/coffeenpapper/price.html', 'price')">Coffee &amp; Pepper Price</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/service/services.html', 'service')">Services</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/contactus/contact.html', 'contact')">Contact Us</a></li>
        </ul>
        <ul class="footer-links">
          <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'coffee')">Coffee Estate</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'agriculture')">Agriculture Land</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'tea')">Rubber &amp; Tea Estate</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'house')">House &amp; Plots</a></li>
          <li class="footer-divider"></li>
          <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'business')">Business</a></li>
        </ul>
      </div>
      <div class="col s12 l2 no-padding footer-c3">
        <div class="sm-icn">
          <a href="https://www.facebook.com/Villbiz-500730946727226/?fref=ts" class="jif-facebook-rect-1 sm-fb" target="_blank"></a>
          <a href="#" class="jif-googleplus-rect-1 sm-gp" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
