<div class="navbar-fixed main-header">
  <nav>
    <div class="nav-wrapper">
      <a href="javascript:redirectLocation('app/views/home/main.html')" class="brand-logo"><img src="assets/images/logo.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse mob-menu-btn-sec">
              <i class="jif-menu-1 right mob-menu-btn"></i>
        </a>
      <ul class="right hide-on-med-and-down">
         <li class="active"><a href="javascript:redirectLocation('app/views/home/main.html', 'main')" class="main-header-nav">Home</a></li>
         <li>
            <a class="dropdown-button main-header-nav" data-activates="dropdown1">Properties<!-- <i class="jif-down-open right"></i> --></a>
            <ul id="dropdown1" class="dropdown-content">
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
            </li>
         <li><a href="javascript:redirectLocation('app/views/coffeenpapper/price.html', 'price')" class="main-header-nav">Coffee &amp; Pepper Price</a></li>
         <li><a href="javascript:redirectLocation('app/views/service/services.html', 'service')" class="main-header-nav">Services</a></li>
         <li><a href="javascript:redirectLocation('app/views/contactus/contact.html', 'contact')" class="main-header-nav">Contact</a></li>
         <li class="main-header-divider"></li>
        <!-- <li class="main-header-social-media-link">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email">
            <div><i class="jif-call left"></i>9741085719</div>
            <div><i class="jif-mail left"></i>estates@villbiz.com</div>
         </li>
      </ul>
      <ul class="side-nav mob-side-menu-slider" id="mobile-demo">
         <li class="active">
          <a href="javascript:redirectLocation('app/views/home/main.html')">Home</a>
         </li>
         <li>
            <a class="dropdown-button" data-activates="dropdown2">Properties<i class="jif-down-open right"></i></a>
            <ul id="dropdown2" class="dropdown-content mob-side-menu-dropdown">
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
            </li>
         <li><a href="javascript:redirectLocation('app/views/coffeenpapper/price.html')">Coffee &amp; Pepper Price</a></li>
         <li><a href="javascript:redirectLocation('app/views/service/services.html')">Services</a></li>
         <li><a href="javascript:redirectLocation('app/views/contactus/contact.html')">Contact</a></li>
         <li class="main-header-divider"></li>
         <!-- <li class="main-header-social-media-link text-center">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="text-center fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email center">
            <div><i class="jif-call"></i><span>9741085719</span></div>
            <div><i class="jif-mail"></i><span>estates@villbiz.com</span></div>
         </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(document).ready(function(){
      $('.button-collapse').sideNav();
      $('.modal-trigger').leanModal();
      $(".dropdown-button").dropdown({
          hover: true
      });
  });
  function redirectLocation(dest, type){
    $("#mainViewContainer" ).load(dest, function(){
      $('.slider').slider({full_width: true});
      $('select').material_select();
      $('ul.tabs').tabs();
      $('.scrollspy').scrollSpy();
      $('.modal-trigger').leanModal();
      $('.view-detail-slider').slider('pause');
      $('.indicator-item').click(function(){
          $('.view-detail-slider').slider('pause');
      });
       switch(type){
                case 'coffee': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                      }
                case 'agriculture': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                    }
                      
                case 'tea': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
                case 'house': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
                case 'business': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
             }
      function successCallBack(resp){
        resp=JSON.parse(resp);
        $('#prop-name-count').html(''+villbizApp.properties[type]+' - <span>'+resp.prop.length+' Items</span>');
         var htmlList='';
             resp.prop.forEach(function(value, indx, arr){
               var imgList=(value.image).split(',');
               htmlList+='<div class="property-card-container"><div class="card"><div class="card-image waves-effect waves-block waves-light">'
                      +'<a href="detail.html" target="_blank"><img class="activator" src="php/upload/'+imgList[0]+'"><div class="prop-ad-id">'+value.sno+'</div></a> </div>'
                      +'<div class="card-content"><div class="card-content-body"><div class="property-title font-600">'+value.title+'</div>'
                    +'<div class="property-divider"></div><div class="property-location"><span class="font-600">Location : </span><span>'+value.location+'</span></div><div class="property-divider"></div>'
                    +'<div class="property-price font-600"><i class="jif-rupee"></i><span>'+value.cost+'</span></div></div>'
                    +'<div class="card-content-footer"><div class="property-detail-btn">'
                    +'<a href="javascript:showPropDetail(\''+value.sno+'\', \''+value.title+'\',\''+value.description+'\', \''+value.cost+'\', \''+value.type+'\', \''+value.image+'\', \''+value.location+'\');" class="waves-effect waves-light btn modal-trigger">View Detail</a></div></div></div></div></div>';
             });
             $('#properties-list').html(htmlList);
      }
    });
  }
</script>
<div class="navbar-fixed main-header">
  <nav>
    <div class="nav-wrapper">
      <a href="javascript:redirectLocation('app/views/home/main.html')" class="brand-logo"><img src="assets/images/logo.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse mob-menu-btn-sec">
              <i class="jif-menu-1 right mob-menu-btn"></i>
        </a>
      <ul class="right hide-on-med-and-down">
         <li class="active"><a href="javascript:redirectLocation('app/views/home/main.html', 'main')" class="main-header-nav">Home</a></li>
         <li>
            <a class="dropdown-button main-header-nav" data-activates="dropdown1">Properties<!-- <i class="jif-down-open right"></i> --></a>
            <ul id="dropdown1" class="dropdown-content">
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
            </li>
         <li><a href="javascript:redirectLocation('app/views/coffeenpapper/price.html', 'price')" class="main-header-nav">Coffee &amp; Pepper Price</a></li>
         <li><a href="javascript:redirectLocation('app/views/service/services.html', 'service')" class="main-header-nav">Services</a></li>
         <li><a href="javascript:redirectLocation('app/views/contactus/contact.html', 'contact')" class="main-header-nav">Contact</a></li>
         <li class="main-header-divider"></li>
        <!-- <li class="main-header-social-media-link">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email">
            <div><i class="jif-call left"></i>9741085719</div>
            <div><i class="jif-mail left"></i>estates@villbiz.com</div>
         </li>
      </ul>
      <ul class="side-nav mob-side-menu-slider" id="mobile-demo">
         <li class="active">
          <a href="javascript:redirectLocation('app/views/home/main.html')">Home</a>
         </li>
         <li>
            <a class="dropdown-button" data-activates="dropdown2">Properties<i class="jif-down-open right"></i></a>
            <ul id="dropdown2" class="dropdown-content mob-side-menu-dropdown">
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('app/views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
            </li>
         <li><a href="javascript:redirectLocation('app/views/coffeenpapper/price.html')">Coffee &amp; Pepper Price</a></li>
         <li><a href="javascript:redirectLocation('app/views/service/services.html')">Services</a></li>
         <li><a href="javascript:redirectLocation('app/views/contactus/contact.html')">Contact</a></li>
         <li class="main-header-divider"></li>
         <!-- <li class="main-header-social-media-link text-center">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="text-center fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email center">
            <div><i class="jif-call"></i><span>9741085719</span></div>
            <div><i class="jif-mail"></i><span>estates@villbiz.com</span></div>
         </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(document).ready(function(){
      $('.button-collapse').sideNav();
      $('.modal-trigger').leanModal();
      $(".dropdown-button").dropdown({
          hover: true
      });
  });
  function redirectLocation(dest, type){
    $("#mainViewContainer" ).load(dest, function(){
      $('.slider').slider({full_width: true});
      $('select').material_select();
      $('ul.tabs').tabs();
      $('.scrollspy').scrollSpy();
      $('.modal-trigger').leanModal();
      $('.view-detail-slider').slider('pause');
      $('.indicator-item').click(function(){
          $('.view-detail-slider').slider('pause');
      });
       switch(type){
                case 'coffee': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                      }
                case 'agriculture': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                    }
                      
                case 'tea': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
                case 'house': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
                case 'business': {
                            villbizApp.callGet('/php/properties/'+type, successCallBack);
                            break;
                          }
             }
      function successCallBack(resp){
        resp=JSON.parse(resp);
        $('#prop-name-count').html(''+villbizApp.properties[type]+' - <span>'+resp.prop.length+' Items</span>');
         var htmlList='';
             resp.prop.forEach(function(value, indx, arr){
               var imgList=(value.image).split(',');
               htmlList+='<div class="property-card-container"><div class="card"><div class="card-image waves-effect waves-block waves-light">'
                      +'<a href="detail.html" target="_blank"><img class="activator" src="php/upload/'+imgList[0]+'"><div class="prop-ad-id">'+value.sno+'</div></a> </div>'
                      +'<div class="card-content"><div class="card-content-body"><div class="property-title font-600">'+value.title+'</div>'
                    +'<div class="property-divider"></div><div class="property-location"><span class="font-600">Location : </span><span>'+value.location+'</span></div><div class="property-divider"></div>'
                    +'<div class="property-price font-600"><i class="jif-rupee"></i><span>'+value.cost+'</span></div></div>'
                    +'<div class="card-content-footer"><div class="property-detail-btn">'
                    +'<a href="javascript:showPropDetail(\''+value.sno+'\', \''+value.title+'\',\''+value.description+'\', \''+value.cost+'\', \''+value.type+'\', \''+value.image+'\', \''+value.location+'\');" class="waves-effect waves-light btn modal-trigger">View Detail</a></div></div></div></div></div>';
             });
             $('#properties-list').html(htmlList);
      }
    });
  }
</script>
