<div class="navbar-fixed main-header">
  <nav>
    <div class="nav-wrapper">
      <a href="/villbiz" class="brand-logo"><img src="assets/images/logo.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse mob-menu-btn-sec">
              <i class="jif-menu-1 right mob-menu-btn"></i>
        </a>
      <ul class="right hide-on-med-and-down">
         <li id="main" class="active"><a href="javascript:redirectLocation('views/home/main.html', 'main')" class="main-header-nav">Home</a></li>
         <li id="properties">
            <a class="dropdown-button main-header-nav" data-activates="dropdown1">Properties<!-- <i class="jif-down-open right"></i> --></a>
            <ul id="dropdown1" class="dropdown-content">
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
         </li>
         <li id="price"><a href="javascript:redirectLocation('views/coffeenpapper/price.html', 'price')" class="main-header-nav">Coffee &amp; Pepper Price</a></li>
         <li id="service"><a href="javascript:redirectLocation('views/service/services.html', 'service')" class="main-header-nav">Services</a></li>
         <li id="contact"><a href="javascript:redirectLocation('views/contactus/contact.html', 'contact')" class="main-header-nav">Contact</a></li>
         <li class="main-header-divider"></li>
        <!-- <li class="main-header-social-media-link">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email">
            <div><i class="jif-call left"></i>9741085719</div>
            <div><i class="jif-mail left"></i>estates@villbiz.com</div>
         </li>
      </ul>
      <ul class="side-nav mob-side-menu-slider" id="mobile-demo">
         <li id="mob-main" class="active">
          <a href="javascript:redirectLocation('views/home/main.html', 'main')">Home</a>
         </li>
         <li id="mob-properties">
            <a class="dropdown-button" data-activates="dropdown2">Properties<i class="jif-down-open right"></i></a>
            <ul id="dropdown2" class="dropdown-content mob-side-menu-dropdown">
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'coffee')">Coffee Estate <img src="assets/images/menu-round-coffee.jpeg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'agriculture')">Agriculture Land <img src="assets/images/menu-round-agr.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'tea')">Rubber and Tea Estate <img src="assets/images/menu-round-rubber.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'house')">House and Plots <img src="assets/images/menu-round-house.jpg"></a></li>
               <li class="divider"></li>
               <li><a href="javascript:redirectLocation('views/properties/coffee.html', 'business')">Business <img src="assets/images/menu-round-business.jpg"></a></li>
               <li class="divider"></li>
              </ul>
            </li>
         <li id="mob-price"><a href="javascript:redirectLocation('views/coffeenpapper/price.html', 'price')">Coffee &amp; Pepper Price</a></li>
         <li id="mob-service"><a href="javascript:redirectLocation('views/service/services.html', 'service')">Services</a></li>
         <li id="mob-contact"><a href="javascript:redirectLocation('views/contactus/contact.html', 'contact')">Contact</a></li>
         <li class="main-header-divider"></li>
         <!-- <li class="main-header-social-media-link text-center">
          <a href="javascript:void(0)" class="main-header-nav">
            <i class="jif-facebook-rect-1 fb-text-color"></i>
          </a>
          <a href="javascript:void(0)" class="no-margin" class="main-header-nav">
            <i class="jif-googleplus-rect-1 gp-text-color"></i>
          </a>
        </li> -->
        <li class="text-center fb-btn">
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvillbiz%2F&width=68&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId" width="68" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </li>
         <li class="header-ph-email center">
            <div><i class="jif-call"></i><span>9741085719</span></div>
            <div><i class="jif-mail"></i><span>estates@villbiz.com</span></div>
         </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  $(document).ready(function(){
      $('.button-collapse').sideNav();
      $('.modal-trigger').leanModal();
      $(".dropdown-button").dropdown({
          hover: true
      });
  });
  function redirectLocation(dest, type){
    docCookies.setItem('type', type);
    $("#mainViewContainer" ).load(dest, function(){
      $('.slider').slider({full_width: true});
      $('select').material_select();
      $('ul.tabs').tabs();
      $('.scrollspy').scrollSpy();
      $('.modal-trigger').leanModal();
      $('.view-detail-slider').slider('pause');
      $('.indicator-item').click(function(){
          $('.view-detail-slider').slider('pause');
      });
      switch(type){
         case 'price': {
                    $("#price, #mob-price").closest('li').addClass('active').siblings().removeClass('active');
                    break;
                          }
         case 'service': {
                    $("#service, #mob-service").closest('li').addClass('active').siblings().removeClass('active');
                    break;
                  }
         case 'contact': {
                    $("#contact, #mob-contact").closest('li').addClass('active').siblings().removeClass('active');
                    break;
                  }
         case 'main': {
                  $("#main, #mob-main").closest('li').addClass('active').siblings().removeClass('active');
                  break;
                }
      }
        
    });
  }
</script>
