	<div class="property-container">
		<div class="section search-box quicksearch">
			<div class="container">
				<div class="row no-margin">
					<div class="col s12 l10 push-l2">
						<div class="col s12 l7 no-padding home-property">
							<div class="input-field col s12 m5 l5">
								 <select id="propType">
					                <option value="" disabled selected>Search Property</option>
					                <option value="coffee">Coffee Estate</option>
					                <option value="agriculture">Agriculture Land</option>
					                <option value="tea">Rubber &amp; Tea Estate</option>
					                <option value="house">House &amp; Plots</option>
					                <option value="business">Business</option>
					             </select>
							</div>
							<div class="input-field col s12 m5 l5">
								<select multiple id="locationList">
								</select>
							</div>
							<div class="input-field col s12 m2 l2 margin-top-15 no-padding quick-prop-btn">
								<button class="waves-effect waves-light btn bg-green" id="searchProp">
					                <i class="jif-search-1"></i>
					             </button>
							</div>
						</div>
						<div class="col s12 l5 search-ad-id-block">
						<form id="searchByIdFrm" class="col s12 no-padding" name="searchByIdForm" method="post">
							<div class="input-field margin-top-15 quick-ad-id">
								<button class="waves-effect waves-light btn bg-green">
					                <i class="jif-search-1" style="font-size: 20px;line-height: 36px;"></i>
					            </button>
							</div>
							<div class="input-field col s9 m10 l8 no-padding search-ad-id">
								<!-- <i class="jif-search prefix" style="font-size: 20px;line-height: 55px;"></i> -->
						      <input id="searchId" type="number" class="validate" required>
						      <label for="searchId">Search with Ad ID</label>
						    </div>
						    </form>
						</div>
					</div>
					<div class="no-padding col s12 l2 pull-l10 property-name">
						<label class="t-switch">
							<input type="checkbox" class="prop-checkbox">
							<div class="t-switch-slider round"></div>
							<span class="t-coffee"><i class="jif-th-large"></i></span>
							<span class="t-pepper"><i class="jif-th"></i></span>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="container property-cards">
			<div class="row">
				<h5 class="main-property-title" id="prop-name-count"></h5>
				<div class="tile-list-box" id="properties-list">

				</div>
			</div>
		</div>
	</div>

<!-- Modal Structure -->
<div id="prop-detail-modal" class="modal view-detail-modal">
    <div class="modal-content view-detail-ext-container">
    	<h5 class="text-center view-detail-modal-title" id="prop-name"></h5>
    	<i class="jif-cancel-1 modal-close-btn modal-close"></i>
    	<hr>
    	<div class="container">
    		<div class="row">
    			<div class="col s12 l5">
    				<div class="slider view-detail-slider">
					    <ul class="slides" id="img-list-banner">
			
					    </ul>
					</div>
					<hr>
					<div class="col s12 no-padding">
						<div class="view-detail-ad-id" id="prop-aid">Ad id : 1</div>
					</div>
					<div class="col 12 no-padding view-detail-left">
						<h5>Information</h5>
						<div class="view-detail-location">
							<i class="jif-location text-green"></i>
							<span class="font-600">Location : </span>
							<span id="location-detail">Chikmaglur towards shimoga</span>
						</div>
						<div class="view-detail-location margin-top-10">
							<i class="jif-rupee text-green"></i>
							<span class="font-600">Price : </span>
							<span id="prop-cost">1900000 per acre</span>
						</div>
					</div>
					<hr>
					<div class="col s12 no-padding view-detail-left">
						<h5>Contact Us</h5>
						<div class="view-detail-location">
							<div class="left view-detail-ph">
								<i class="jif-call text-green"></i>
								<span>+91 9741085719</span>
							</div>
							<div class="left">
								<i class="jif-mail text-green"></i>
								<span>estates@villbiz.com</span>
							</div>
						</div>
					</div>
					<hr>
					<div class="col s12 no-padding view-detail-left">
						<div class="view-detail-location margin-top-10">
							<div class="left view-detail-sm margin-right-10 social-media-prop-share">
								<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fvillbiz.com&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							</div>
							<div class="left view-detail-sm gplus-icon">
								<!-- Place this tag where you want the share button to render. -->
								<div class="g-plus" data-action="share" data-annotation="none" data-href="http://villbiz.com"></div>

								<!-- Place this tag after the last share tag. -->
								<script type="text/javascript">
								  (function() {
								    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								    po.src = 'https://apis.google.com/js/platform.js';
								    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								  })();
								  function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape('http://villbiz.com/detail.html?aid=27')+"&t="+document.title, '', 
    'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
    return false; }
								</script>
							</div>
						</div>
					</div>
					<hr class="no-margin">
    			</div>
    			<div class="col s12 l7 view-detail-prop-maindetail">
    				<h5 class="text-dark" id="prop-title"></h5>
    				<div class="green-orange-border-sep"></div>
    				<p id="prop-description">
    					
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<script src="scripts/coffee.js"></script>
