	<div class="container servicecontainer">
		<div class="row">
			<div class="service-pg">
				<div class="col s12 m9 l10 service-content">
					<div id="maintenance" class="section scrollspy services-block">
						<h3 class="text-green">Maintenance</h3>
						<div class="row">
							<h5 class="col s12">Coffee Estate Maintenance</h5>
							<div class="col s12 l3 ser-img">
								<img src="assets/images/banner1.jpg">
							</div>
							<div class="col s12 l9">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
						<div class="row">
							<h5 class="col s12">Agriculture Land Maintenance</h5>
							<div class="col s12 l3 push-l9 ser-img">
								<img src="assets/images/banner2.jpg">
							</div>
							<div class="col s12 l9 pull-l3">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
					</div>

					<div id="construction" class="section scrollspy services-block">
						<h3 class="text-green">Construction</h3>
						<div class="row">
							<h5 class="col s12">House</h5>
							<div class="col s12 l3 ser-img">
								<img src="assets/images/banner4.jpg">
							</div>
							<div class="col s12 l9">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
						<div class="row">
							<h5 class="col s12">Labour Quarters</h5>
							<div class="col s12 l3 l3 push-l9 ser-img">
								<img src="assets/images/banner2.jpg">
							</div>
							<div class="col s12 l9 pull-l3">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
						<div class="row">
							<h5 class="col s12">Drying Yard</h5>
							<div class="col s12 l3 ser-img">
								<img src="assets/images/banner4.jpg">
							</div>
							<div class="col s12 l9">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
						<div class="row">
							<h5 class="col s12">Pulper Units and Bridges</h5>
							<div class="col s12 l3 l3 push-l9 ser-img">
								<img src="assets/images/banner2.jpg">
							</div>
							<div class="col s12 l9 pull-l3">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
					</div>

					<div id="making" class="section scrollspy services-block">
						<h3 class="text-green">Making</h3>
						<div class="row">
							<h5 class="col s12">Ponds</h5>
							<div class="col s12 l3 ser-img">
								<img src="assets/images/banner1.jpg">
							</div>
							<div class="col s12 l9">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
						<div class="row">
							<h5 class="col s12">Motorable Roads and Pipelines for Irrigation</h5>
							<div class="col s12 l3 l3 push-l9 ser-img">
								<img src="assets/images/banner2.jpg">
							</div>
							<div class="col s12 l9 pull-l3">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
					</div>

					<div id="supplies" class="section scrollspy services-block">
						<h3 class="text-green">Supplies</h3>
						<div class="row">
							<h5 class="col s12">Manure, Fertilizers, Medicines and Plants of coffee, Pepper, Cardamom, Arecanut Silver Oak etc</h5>
							<div class="col s12 l3 ser-img">
								<img src="assets/images/banner5.jpg">
							</div>
							<div class="col s12 l9">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
					</div>

					<div id="trading" class="section scrollspy services-block service-trading-block">
						<h3 class="text-green">Trading</h3>
						<div class="row">
							<h5 class="col s12">Coffee, Pepper, Cardamom, Arecanut and Timber</h5>
							<div class="col s12 l3 l3 push-l9 ser-img">
								<img src="assets/images/banner6.jpg">
							</div>
							<div class="col s12 l9 pull-l3">
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
								<p>Villbiz – recognized as the talented and the best agencies in the world. We aim to create a meeting point where people across the world can come to find properties. A place to share knowledge and experience, give and receive constructive and respectful critiques.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col hide-on-small-only m3 l2">
					<ul class="section table-of-contents pinned">
					    <li><a href="#maintenance">Maintenance</a></li>
					    <li><a href="#construction">Construction</a></li>
					    <li><a href="#making">Making</a></li>
					    <li><a href="#supplies">Supplies</a></li>
					    <li><a href="#trading">Trading</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function(){
			$('.scrollspy').scrollSpy();
	});
</script>
